<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inititute.contentprovideripc">

    <application
        android:allowBackup="true"
        android:name="com.inititute.contentprovideripc.MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="com.inititute.readProvider"></uses-permission>


        <activity android:name="com.inititute.contentprovideripc.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--这里是自定的的Contentprovider
        authorities 必须唯一 通过这个访问
        permission 指定必须需要这个权限才可以进行访问（同一个应用不需要）
        如果不在同一个进程，也就是说跨应用访问 需要指定权限
        -->
        <provider
            android:authorities="com.inititute.contentprovideripc.BookProvider"
            android:name="com.inititute.contentprovideripc.BookProvider"
            android:permission="com.liran.readProvider"
            android:process=":remote">

        </provider>

    </application>




</manifest>
